<h2>Crear usuario</h2>
<div>
    <div class="form-group">
        <label for="nombres">Nombres</label>
        <input [(ngModel)]="persona.nombres" type="text" class="form-control" id="nombres" placeholder="Ingrese Nombres" required>
    </div>
    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input [(ngModel)]="persona.apellidos" type="text" class="form-control" id="apellidos" placeholder="Ingrese Apellidos" required>
    </div>
    <div class="form-group">
        <label for="direccion">Direccion</label>
        <input [(ngModel)]="persona.direccion" type="text" class="form-control" id="direccion" placeholder="Ingrese Direccion" required>
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input [(ngModel)]="persona.telefono" type="number" class="form-control" id="telefono" placeholder="Ingrese Telefono" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="persona.email" type="email" class="form-control" id="email" placeholder="Ingrese Email" required>
    </div>
    <button (click)="savePersona()" class="btn btn-primary">Guardar</button>
</div>
