<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.id}}</td>
            <th>{{persona.nombres}}</th>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.direccion}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.email}}</td>
            <td>
                <a class="btn btn-primary btn-sm" routerLink="/form/{{persona.id}}">Ver/Editar</a>
                <a class="btn btn-primary btn-sm btn-danger" (click)="delete(persona.id)" routerLink="/home">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
